<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main class="container">
        <form class="product-form" action="<% if (editMode) { %>/admin/edit-product<% } else { %>/admin/add-product<% } %>" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" value="<% if (editMode) { %><%= product.name %><% } %>">
            </div>
            <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input type="text" name="imageUrl" id="imageUrl" value="<% if (editMode) { %><%= product.image_url %><% } %>">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input type="number" name="price" id="price" step="0.01" value="<% if (editMode) { %><%= product.price %><% } %>">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="5"><% if (editMode) { %><%= product.description %><% } %></textarea>
            </div>
            <% if (editMode) { %>
                <div class="form-control">
                    <input type="hidden" name="productId" value="<%= product.id %>">
                </div>
            <% } %>
            <div class="centered">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn btn-primary" type="submit"><% if (editMode) { %>Update Product<% } else { %>Add Product<% } %></button>
            </div>
        </form>
    </main>
<%- include('../includes/end.ejs') %>