<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main class="container">
        <% if (errorMessage) { %>
            <div class="notification error-notification"><%= errorMessage %></div>
        <% } %>
        <form class="product-form" action="<% if (editMode) { %>/admin/edit-product<% } else { %>/admin/add-product<% } %>" method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <label for="title">Title</label>
                <input
                    class="<%= validationErrors.find(error => error.path === 'title') ? 'invalid' : '' %>"
                    type="text"
                    name="title"
                    id="title"
                    value="<% if (editMode || hasError) { %><%= product.name %><% } %>"
                >
            </div>
            <!-- <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input
                    class="<%= validationErrors.find(error => error.path === 'imageUrl') ? 'invalid' : '' %>"
                    type="text"
                    name="imageUrl"
                    id="imageUrl"
                    value="<% if (editMode || hasError) { %><%= product.image_url %><% } %>"
                >
            </div> -->
            <div class="form-control">
                <label for="image">Image</label>
                <input
                    type="file"
                    name="image"
                    id="image"
                    class="file-input"
                >
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input
                    class="<%= validationErrors.find(error => error.path === 'price') ? 'invalid' : '' %>"
                    type="number"
                    name="price"
                    id="price"
                    step="0.01"
                    value="<% if (editMode || hasError) { %><%= product.price %><% } %>"
                >
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea
                    class="<%= validationErrors.find(error => error.path === 'description') ? 'invalid' : '' %>"
                    name="description"
                    id="description"
                    rows="5"
                ><% if (editMode || hasError) { %><%= product.description %><% } %></textarea>
            </div>
            <% if (editMode) { %>
                <div class="form-control">
                    <input type="hidden" name="productId" value="<%= product.id %>">
                </div>
            <% } %>
            <div class="centered">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn btn-primary" type="submit"><% if (editMode) { %>Update Product<% } else { %>Add Product<% } %></button>
            </div>
        </form>
    </main>
<%- include('../includes/end.ejs') %>