<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main class="container">
        <% if (errorMessage) { %>
            <div class="notification error-notification"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/signup" method="POST">
            <div class="form-control">
                <label for="email">Email</label>
                <input
                    class="<%= validationErrors.find(error => error.path === 'email') ? 'invalid' : '' %>"
                    type="email"
                    name="email"
                    id="email" value="<%= oldInput.email %>"
                >
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input
                    class="<%= validationErrors.find(error => error.path === 'password') ? 'invalid' : '' %>"
                    type="password"
                    name="password"
                    id="password"
                    value="<%= oldInput.password %>"
                >
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input
                    class="<%= validationErrors.find(error => error.path === 'confirmPassword') ? 'invalid' : '' %>"
                    type="password"
                    name="confirmPassword"
                    id="confirmPassword"
                    value="<%= oldInput.confirmPassword %>"
                >
            </div>
            <div class="centered">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn btn-primary" type="submit">Sign Up</button>
            </div>
        </form>
    </main>
<%- include('../includes/end.ejs') %>